@font-face {
    font-family: 'lazy_dog';
    src: url('lazy_dog.ttf') format('truetype');
}

body {
    margin: .5;
    background: #01081e;
    opacity: 1;
    text-align: center;
    font-size: xx-large;
    font-family: 'lazy_dog', sans-serif;
    
}

h1 {
    color: #99bfdb;
    font-size: 2.5em;
    text-align: center;
}

h2 {
    color: #99bfdb;
    font-size: 1.5em;
    text-align: center;
}

h3 {
    color: #99bfdb;
    font-size: 1.5em;
    text-align: left;
    margin-bottom: -10px;
    margin-top: 2%;
}

.wrapper {
    display: flex;
    flex-direction: column;
    color: #99bfdb;
}

.ghost-wrapper{
    display: flex;
    justify-content: space-between;
}

.ghost-wrapper:hover {
    color: #6ca6d0;
}

.evidence-wrapper {
    display: flex;
    justify-content: space-between;

}

.evidence-wrapper:hover {
    color: #6ca6d0;
}

.gcol1,
.gcol2,
.gcol3 {
    flex-basis: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5px;
}

.ecol1,
.ecol2,
.ecol3 {
    flex-basis: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5px;
}

.header {
    background-color: #01081e;
    color: #99bfdb;
    font-family: 'lazy_dog', sans-serif;
    height: 8vh;
    border-bottom: #99bfdb;
}

.more-categories {
    background-color: #01081e;
    color:#99bfdb;
}

.starting,
.maps,
.cursed-objects {
    background-size: 23vh;
}

.starting:hover,
.maps:hover,
.cursed-objects:hover {
    background-size: 23vh;
    background-color: #99bfdb;
    color: #01081e;
}





