body {
    margin: .5;
    background: #01081e;
    opacity: 1;
    text-align: center;
    font-size: xx-large;
    font-family: 'lazy_dog', sans-serif;
    
}

h1 {
    font-size: 2em;
}

.wrapper {
    display: flex;
    justify-content: space-between;
}

.col1 {
    flex-grow: 1;
    text-align: center;
}

.col2 {
    text-align: center;
}

.col3 {
    flex-grow: 1;
    text-align: center;
}
